node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.lock
android/.gradle/
android/local.properties

